.navbar {
    overflow: auto;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.router-link-active {
    border-radius: 8px;
    font-weight: 500;
    border: 2px solid #3dd349;
}