<!-- about-us.component.html -->
<div class="container-lg mt-5">
  <div class="jumbotron">
    <h1 class="display-4">About Us</h1>
    <p class="lead">
      Welcome to the Todo's Application in Angular! This application is designed
      to help you manage your tasks and stay organized.
    </p>

    <hr class="my-4" />

    <p class="lead">Key features of the Todo's Application include:</p>

    <ul class="list-group">
      <li class="list-group-item">Adding, editing, and deleting tasks</li>
      <li class="list-group-item">Marking tasks as completed</li>
      <li class="list-group-item">Searching for specific tasks</li>
    </ul>

    <hr class="my-4" />

    <p class="lead">
      This application is built using Angular, a powerful and popular web
      framework. It demonstrates the basics of Angular components, services, and
      two-way data binding.
    </p>

    <p class="lead">
      Feel free to explore and use the application to manage your daily tasks
      efficiently!
    </p>
  </div>
</div>
